    <p>
      <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
      <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    </p>

       <h2>Login to Amazing Me</h2>
    <p>{{message}}</p>
    <div class = "login">
      <label>Account Name</label>
      <input md-input placeholder="example@amazingme.com" align="end" [(ngModel)]="User.name" ></md-input>
      <br />
      <br />
      <label>Password</label>
      <input [(ngModel)]="User.name"/>

      
    </div>
    <div>
      <button >Login</button>
      <button >Logout</button>
    </div>






<md-input placeholder="amount" align="end">
  <span md-prefix>$&nbsp;</span>
  <span md-suffix>.00</span>
</md-input>