<mat-card style="width: 780px;" >


<!--     
    <mat-card-title>Milestone {{ milestone.id }} </mat-card-title>
    <mat-card-subtitle>{{ milestone.name }}</mat-card-subtitle>

    <mat-card-content>I feel that George has achieved...</mat-card-content>


  <mat-card-content>

       <mat-slider 
        [disabled]="disabled"
        [invert]="invert"
        [max]="max2"
        [min]="min"
        [step]="step"
        [thumb-label]="thumbLabel"
        [vertical]="vertical"
        [(ngModel)]="value"
        [tick-interval]="tickInterval"
        (change) = "slideOn(value)"
      
        style = "width: 180px; " >
    </mat-slider>
            
  

     <span >
     {{percent}}%  of this milestone!

   </span>
   
        </mat-card-content>


 <mat-card-content>

  <a target="_blank" href="http://{{milestone.link}}"  *ngIf = "milestone.video == true"  >click to watch video clip</a>

  <img mat-card-image  *ngIf = "milestone.video != true"  src={{milestone.img}} style="margin-top: 5px">
<p *ngIf = "milestone.video == true">  {{ milestone.detail }} </p>

<section *ngIf="milestone.submilestone">
          <mat-checkbox  [checked]="milestone.submilestone.checkbox1.state" [(ngModel)]="milestone.submilestone.checkbox1.state">{{milestone.submilestone.checkbox1.name}}</mat-checkbox>
         
           <mat-checkbox  [checked]="milestone.submilestone.checkbox2.state" [(ngModel)]="milestone.submilestone.checkbox2.state">{{milestone.submilestone.checkbox2.name}}</mat-checkbox>
           
            <mat-checkbox  [checked]="milestone.submilestone.checkbox3.state" [(ngModel)]="milestone.submilestone.checkbox3.state">{{milestone.submilestone.checkbox3.name}}</mat-checkbox>
           
           <mat-checkbox [checked]="milestone.submilestone.checkbox4.state" [(ngModel)]="milestone.submilestone.checkbox4.state">{{milestone.submilestone.checkbox4.name}}</mat-checkbox>
</section>


</mat-card-content>


<mat-input-container style="width: 100%">
      <textarea matInput placeholder="Notes"  [(ngModel)]="milestone.notes"  (click) = "updateNote()"></textarea>
</mat-input-container>
       

 -->
       
       

    <mat-card-title>Milestone {{ milestone.id }} </mat-card-title>

   <mat-card-subtitle>{{ milestone.name }}</mat-card-subtitle>



 <mat-grid-list cols="8" rowHeight="30px" gutterSize="10px" style="margin-top: 30px">


      <mat-grid-tile [colspan]="4" [rowspan]="8">

           <a target="_blank" href="http://{{milestone.link}}"  *ngIf = "milestone.video == true"  >click to watch video clip</a>

  <img mat-card-image  *ngIf = "milestone.video != true"  src={{milestone.img}} style="margin-top: 5px">
<p *ngIf = "milestone.video == true">  {{ milestone.detail }} </p>
          
        </mat-grid-tile>

<!-- 
    <mat-grid-tile [colspan]="4" [rowspan]="1">
     <mat-card-title>Milestone {{ milestone.id }} </mat-card-title>
       </mat-grid-tile>


    <mat-grid-tile [colspan]="4" [rowspan]="2">
   <mat-card-subtitle>{{ milestone.name }}</mat-card-subtitle>
     </mat-grid-tile> -->

   <mat-grid-tile [colspan]="4" [rowspan]="1">

<mat-card-content style="font-size: 18px">I feel that George has achieved...</mat-card-content>
    </mat-grid-tile>

   <mat-grid-tile [colspan]="4" [rowspan]="1" >
       <mat-slider 
        [disabled]="disabled"
        [invert]="invert"
        [max]="max2"
        [min]="min"
        [step]="step"
        [thumb-label]="thumbLabel"
        [vertical]="vertical"
        [(ngModel)]="value"
        [tick-interval]="tickInterval"
        (change) = "slideOn(value)"
      
        style = "width: 200px; " >
    </mat-slider>
            
     <span style="font-size: 15px">
     {{percent}}%  of this milestone!

   </span>
   </mat-grid-tile>
   




<mat-grid-tile [colspan]="4" [rowspan]="2">
          <section *ngIf="milestone.submilestone">
            <mat-checkbox  [checked]="milestone.submilestone.checkbox1.state" [(ngModel)]="milestone.submilestone.checkbox1.state">{{milestone.submilestone.checkbox1.name}}</mat-checkbox>

            <mat-checkbox  [checked]="milestone.submilestone.checkbox2.state" [(ngModel)]="milestone.submilestone.checkbox2.state">{{milestone.submilestone.checkbox2.name}}</mat-checkbox>

            <mat-checkbox  [checked]="milestone.submilestone.checkbox3.state" [(ngModel)]="milestone.submilestone.checkbox3.state">{{milestone.submilestone.checkbox3.name}}</mat-checkbox>

            <mat-checkbox [checked]="milestone.submilestone.checkbox4.state" [(ngModel)]="milestone.submilestone.checkbox4.state">{{milestone.submilestone.checkbox4.name}}</mat-checkbox>
          </section>
        </mat-grid-tile>

<mat-grid-tile [colspan]="4" [rowspan]="3">
        <mat-input-container style="width: 100%">
            <textarea matInput placeholder="Notes"  matTextareaAutosize matAutosizeMinRows="1"
            matAutosizeMaxRows="5" [(ngModel)]="milestone.notes"  (focus) = "updateNote()"></textarea>
          </mat-input-container>
        </mat-grid-tile>

       
   </mat-grid-list>
<mat-card-actions>
    <button mat-button (click)="dialogRef.close(true)">SAVE</button>
    <button mat-button (click)="dialogRef.close()">CANCEL</button>


  </mat-card-actions>



</mat-card>




<!-- <button type="button" mat-raised-button 
(click)="dialogRef.close(true)">Save</button>
<button type="button" mat-button 
(click)="dialogRef.close()">Cancel</button> -->







<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script> 






