<md-card style="width: 450px;" >


    
    <md-card-title>Milestone {{ milestone.id }} </md-card-title>
    <md-card-subtitle>{{ milestone.name }}</md-card-subtitle>


 





    <md-card-content>I feel that George is ...</md-card-content>
    
     

  <md-card-content>
       <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
       (onHover)="clickOn($event)"  
       [titles]="['one','two','three']"> 
       </rating> 
      
       <span class="label"
       [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
       [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">  {{percent}}% 
       </span> 
       towards this milestone! </md-card-content>


 <md-card-content>


   
<!-- 
    <div style="height: 170px; width: 200px; background-color: #F4F4F4;" *ngIf = "milestone.video == true" align="center"> <a target="_blank" href="http://{{milestone.link}}"   >click to see video clip</a>
    </div> -->

  <a target="_blank" href="http://{{milestone.link}}"  *ngIf = "milestone.video == true"  >click to watch video clip</a>

  <img md-card-image  *ngIf = "milestone.video != true"  src={{milestone.img}} style="margin-top: 5px">
<p *ngIf = "milestone.video == true">  {{ milestone.detail }} </p>

  
 
 

<section *ngIf="milestone.id == 6">
          <md-checkbox #checkbox1   [checked]="milestone.checkbox1">Happy</md-checkbox>
         
           <md-checkbox #checkbox2  [checked]="milestone.checkbox2">Angry</md-checkbox>
           
            <md-checkbox #checkbox3  [checked]="milestone.checkbox3">Sad</md-checkbox>
           
           <md-checkbox #checkbox4  [checked]="milestone.checkbox4">Anxious</md-checkbox>
</section>


  
</md-card-content>


<!-- <md-input-container style="width: 100%">
      <textarea mdInput placeholder="Notes"  [(ngModel)]="milestone.notes"  (click) = "updateNote()"></textarea>
</md-input-container> -->
       
         <input mdInput style = "width: 100%" placeholder="Notes"  [(ngModel)]="milestone.notes"  (click) = "updateNote()">
       <!--  <input type="text"  class="form-control"  [(ngModel)]="milestone.notes"  (click) = "updateNote()" /> -->




<md-card-actions>
    <button md-button (click)="dialogRef.close(true)">SAVE</button>
    <button md-button (click)="dialogRef.close()">CANCEL</button>
  </md-card-actions>

</md-card>


<!-- <button type="button" md-raised-button 
(click)="dialogRef.close(true)">Save</button>
<button type="button" md-button 
(click)="dialogRef.close()">Cancel</button> -->














