<md-card style="width: 450px;" >


    
    <md-card-title>Milestone {{ milestone.id }} </md-card-title>
    <md-card-subtitle>{{ milestone.name }}</md-card-subtitle>


 





    <md-card-content>I feel that George has achieved...</md-card-content>
    
     

  <md-card-content>
      <!--  <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
       (onHover)="clickOn($event)"  
       [titles]="['one','two','three']"> 
       </rating> 
      
       <span class="label"
       [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
       [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">  {{percent}}% 
       </span>  -->

       <md-slider 
        [disabled]="disabled"
        [invert]="invert"
        [max]="max2"
        [min]="min"
        [step]="step"
        [thumb-label]="thumbLabel"
        [vertical]="vertical"
        [(ngModel)]="value"
        [tick-interval]="tickInterval"
        (slideend) = "slideOn(value)"
      
        style = "width: 180px; " >
    </md-slider>

  

     <span >
     {{percent}}%  of this milestone!

   </span>
   
        </md-card-content>


 <md-card-content>


   
<!-- 
    <div style="height: 170px; width: 200px; background-color: #F4F4F4;" *ngIf = "milestone.video == true" align="center"> <a target="_blank" href="http://{{milestone.link}}"   >click to see video clip</a>
    </div> -->

  <a target="_blank" href="http://{{milestone.link}}"  *ngIf = "milestone.video == true"  >click to watch video clip</a>

  <img md-card-image  *ngIf = "milestone.video != true"  src={{milestone.img}} style="margin-top: 5px">
<p *ngIf = "milestone.video == true">  {{ milestone.detail }} </p>

  
 
 

<section *ngIf="milestone.submilestone">
          <md-checkbox  [checked]="milestone.submilestone.checkbox1.state" [(ngModel)]="milestone.submilestone.checkbox1.state">{{milestone.submilestone.checkbox1.name}}</md-checkbox>
         
           <md-checkbox  [checked]="milestone.submilestone.checkbox2.state" [(ngModel)]="milestone.submilestone.checkbox2.state">{{milestone.submilestone.checkbox2.name}}</md-checkbox>
           
            <md-checkbox  [checked]="milestone.submilestone.checkbox3.state" [(ngModel)]="milestone.submilestone.checkbox3.state">{{milestone.submilestone.checkbox3.name}}</md-checkbox>
           
           <md-checkbox [checked]="milestone.submilestone.checkbox4.state" [(ngModel)]="milestone.submilestone.checkbox4.state">{{milestone.submilestone.checkbox4.name}}</md-checkbox>
</section>


  
</md-card-content>


<md-input-container style="width: 100%">
      <textarea mdInput placeholder="Notes"  [(ngModel)]="milestone.notes"  (click) = "updateNote()"></textarea>
</md-input-container>
       
        <!--  <input mdInput style = "width: 100%" placeholder="Notes"  [(ngModel)]="milestone.notes"  (click) = "updateNote()"> -->
       <!--  <input type="text"  class="form-control"  [(ngModel)]="milestone.notes"  (click) = "updateNote()" /> -->


 

<md-card-actions>
    <button md-button (click)="dialogRef.close(true)">SAVE</button>
    <button md-button (click)="dialogRef.close()">CANCEL</button>


  </md-card-actions>

</md-card>



<!-- <button type="button" md-raised-button 
(click)="dialogRef.close(true)">Save</button>
<button type="button" md-button 
(click)="dialogRef.close()">Cancel</button> -->







<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script> 






