<div style = "padding: 10px 20px" *ngIf="child">



 <mat-card class="app-input-section" >

   <mat-card-title>Child's Profile</mat-card-title>
   <br/>
   <img mat-card-sm-image style="margin:0px 25px 10px 0px" src={{child.img}}>

   <mat-input-container >
     <input matInput style = "padding: 10px 0 0 0" placeholder="Name" [(ngModel)]="child.name" >
      </mat-input-container >

 <mat-input-container >
     <mat-select placeholder="Gender" [(ngModel)]="child.gender" name="gender">
    <mat-option *ngFor="let gender of genders" [value]="gender.value">
      {{gender.viewValue}}
    </mat-option>
  </mat-select>
     </mat-input-container >


<!--  <mat-input-container >
  <mat-select placeholder="Age" [(ngModel)]="child.age" name="gender">
    <mat-option *ngFor="let age of ages" [value]="age.value">
      {{age.value}}
    </mat-option>
  </mat-select>
    </mat-input-container > -->

    
 <mat-input-container >
  
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Birthday" [(ngModel)]="child.age">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker  [startAt]="startDate"></mat-datepicker>
  
   </mat-input-container >



   


  

</mat-card>
</div> 



<div style = "padding: 10px 20px" *ngIf="parent" >

     <mat-card  class="app-input-section">
   
     <mat-card-title>Parent's Profile</mat-card-title>
     <br/>
      <img mat-card-sm-image style="margin:0px 25px 10px 0px" src={{parent.img}}>
 <mat-input-container >
      <input matInput style = "padding: 10px 0 0 0" placeholder="Name" [(ngModel)]="parent.name">
          </mat-input-container>
          <mat-input-container >
     <input matInput style = "padding: 10px 0 0 0"   placeholder="Email" [(ngModel)]="parent.email">
     </mat-input-container >

  
      
          
         

    </mat-card>
</div>


<div style = "padding: 10px 20px" >


<!--   <p>Reading mode</p>

   
  <mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle value="on" checked>
    On
  </mat-button-toggle>
  <mat-button-toggle value="off">
    Off
  </mat-button-toggle>
  
</mat-button-toggle-group>

</div>

<div style = "padding: 10px 20px" >


 <p> Reading voice </p>

   
  <mat-button-toggle-group #group="matButtonToggleGroup" >
  <mat-button-toggle value="male">
   Male
  </mat-button-toggle>
  <mat-button-toggle value="female" checked>
    Female
  </mat-button-toggle>
  
</mat-button-toggle-group> -->

</div>
<!-- 
<mat-card >
  <mat-card-content>

    <section>
      <mat-slide-toggle
          [color]="color" 
          [disabled]="disabled">
        Reading Mode
      </mat-slide-toggle>
    </section>
  </mat-card-content>
</mat-card> -->

<div align = "right" style="margin-right: 20px;margin-top: 10px"><button type="button" mat-raised-button 
(click)="save()">Save</button>
</div>

<div style="height: 200px">
  <br />

  </div>