<div class="row">
  <div class="col-lg-6" style="margin-top: 5px; margin-left: 10px">
    
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)">
      
    </pagination>
 
 <!--     <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage"
                (numPages)="smallnumPages = $event"></pagination> -->

  
<!--    Page {{currentPage}}/10  -->
 
    <!--  <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"> </pager> -->
    

    <!-- <button type="button" class="btn btn-info" (click)="setPage(2)">Set current page to: 2</button>  -->
  </div>


<!--   <hr class="visible-md visible-xs hidden-lg-up">
  <div class="col-lg-6" style="margin-top: 10px;">
    <h4>Pager</h4>
    <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn"></pager>
 
    <hr/>
  
    <pre class="card card-block card-header">Page: {{bigCurrentPage}} / {{numPages}}</pre>
  </div> -->


<div style= "margin-left: 20px">
 <!-- <h2>Pages</h2>
    <ul >
      <li *ngFor="let page of pages"
        [class.selected]="[page] === selectedPage"
        (click)="onSelect(page)">
        <span >{{page.id}}</span> 
      </li>
    </ul> -->
    <div *ngIf="selectedPage">
     <!--  <h2>
        Page number: {{selectedPage.id}} 
      </h2> -->
      <img src= {{selectedPage.img}} >
   
    </div>

</div>
 

</div>